@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body[lang="ta"], body[lang="ta"] * {
    font-family: 'Noto Sans Tamil', sans-serif;
  }

  html.font-size-small {
    font-size: 14px;
  }

  html.font-size-medium {
    font-size: 16px;
  }

  html.font-size-large {
    font-size: 18px;
  }

  html.font-size-extra-large {
    font-size: 20px;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-in forwards;
  }

  .animate-fade-in-delay {
    animation: fadeIn 1s ease-in 0.3s forwards;
    opacity: 0;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
